<ul class="collapse list-unstyled" id="render-info">
    <li><a href="#"><span class="fa fa-chevron-right mr-2"></span> Configuration Details</a></li>
        <ul class="list-unstyled">
            <li>Rendered: {{ rendered_at }}</li>
            <li>Source: {{ timeline_name }}</li>
            <li>Hours: {{ hours }}</li>
            <li>Scorer: {{ scorer }}</li>
            <li>Threshold: {{ threshold }}</li>
        </ul>
</ul>