<style>

    div#container {
        margin: auto;
        max-width: 640px;
        padding: 10px;
        text-align: center;
        margin: 0 auto;
    }

    .posts {
        align: center;
    }

    div.post {
        margin-top: 20px;
    }

    a.home-link {
        color: black;
    }

    a.original-link {
        color: black;
    }

    span.link-divider {
        color: black;
    }


</style>
